<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    <!--<h2><a href="/">Home</a></h2>-->
    
    <!--
   <p><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></p> 
   -->
   <!--
    <div class="simple-links">
      <p><a href="/about">About</a>, <a href="/comics">Personal comics</a></p>
    </div>
        -->
        </div>
      </nav>
      
  </div>
  
</header>
