
body {
  text-align: left;
  background: white;
}

p {
  font-size: 19px;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #333;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

.home {
  text-align: left;
}

.home .container {
  display: block;
  width: 100%;
}

.wrapper {
  text-align: left;
}

.post-list {
  text-align: left;
}

.fc {
  text-align: left;
}

.footer-col-wrapper {
  text-align: center;
  width: 100% !important;
}

.footer-col {
  text-align: left;
}

.intro {
  margin-bottom: 120px; 
  text-align: left; 
  margin-left: 0; 
  padding-left: 0; 
}

.intro h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 15px;
  color: #333;
}

.intro h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #666;
  font-style: normal; 
}

.post-list li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.image-gallery {
  clear: both;
}

.image-gallery image {
  margin-left: auto;
  margin-right: auto;
}

.image {
  padding-right: 7px;
  padding-left: 10px;
  display: inline-block;
  width: 31%;
  margin: 0 auto;
  vertical-align: middle;
  margin-left: auto;
}

.text {
  width: 55%;
  font-size: 120%;
}

.text-2 {
  width: 55%;
  font-size: 120%;
}

.bg {
}

.site-nav {
  top: 9px;
  right: 15px;
  text-align: right;
}

// Hide navigation links
.site-nav {
  display: none;
}

// Hide footer
.site-footer {
  display: none;
}

// Your existing media queries
@media screen and (max-width: 575px) {
  body {
    color: black;
  }

  .text {
    width: 100%;
  }

  .image-gallery {
    width: 95%;
  }
  
  .image {
    width: 100%;
  }

  .site-nav {
    background: transparent;
  }

  .trigger {
    width: 90%;
    padding: 10px 20px 5px 0px;
    background: white;
    line-height: 100%;
  }

  .trigger a {
    display: block;
  }

  .post-content p, img {
    width: 100%;
  }

  .post-link {
    font-size: 1.2rem;
  }

  // Mobile styling for the new intro
  .intro h1 {
    font-size: 2.2rem;
  }
  
  .intro h2 {
    font-size: 1.4rem;
  }
  
  .intro {
    margin-bottom: 80px;
  }
}

.post-list h3 {
  font-size: 5em !important;
}

.head-wrapper {
  background: pink;
}

.trigger {
  margin-top: -7px;
  margin-right: 10px;
}