// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.intro {
  margin-bottom: $spacing-unit*4;
  font-size: 195%;
}

.post-list li {
  margin-bottom: 5px;
  margin-top: 5px;
}
.image-gallery {
  clear: both;
}

.image-gallery image {
  margin-left: auto;
    margin-right: auto;
  }

.image {
  padding-right: 7px;
  padding-left: 10px;
display: inline-block;
  width: 31%;
  margin: 0 auto;
  vertical-align: middle;
  margin-left: auto;
}


.text {
  width: 55%;
  font-size: 120%;
}


.bg {
}


.site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 0px solid #666666;
    border-radius: 5px;
    text-align: right;
  }


.post-list h3 {
  font-size: 5em !important;
}

.head-wrapper {
  background: pink;
}
.trigger {
  margin-top: -7px;
  margin-right: 150px;
}
