// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

body {
  text-align: center;
}

.post-list {
  text-align: center !important;
}


.fc {
  text-align: left;
}
.footer-col-wrapper {
  text-align: center;
  width: 100% !important;

}
.footer-col {
}

.intro {
  margin-bottom: $spacing-unit*4;
  font-size: 195%;
}

.post-list li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.image-gallery {
  clear: both;
}

.image-gallery image {
  margin-left: auto;
    margin-right: auto;
  }

.image {
  padding-right: 7px;
  padding-left: 10px;
display: inline-block;
  width: 31%;
  margin: 0 auto;
  vertical-align: middle;
  margin-left: auto;
}


.text {
  width: 55%;
  margin: 0 auto;
  font-size: 120%;
}


.bg {
}


.site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 0px solid #666666;
    border-radius: 5px;
    text-align: right;
  }


// Media queries experiment //

  @media screen and (max-width: 575px) {
      body {
          color: black;
      }

      .text {
        width: 100%;
      }

      .image-gallery {
        width: 95%;
      }
      .image {
        width: 100%;
      }

      .site-nav {
        background: transparent;
      }

      .trigger {
        width: 90%;
        padding: 10px 20px 5px 0px;
        background: white;
        line-height: 100%;
      }

      .trigger a {
        display: block;
      }

      .post-content p, img {
        width: 100%;
      }

      .post-link {
        font-size: 1.2rem;
      }

      .intro {
        font-size: 1.5rem;
      }
  }
//




.post-list h3 {
  font-size: 5em !important;
}

.head-wrapper {
  background: pink;
}

.trigger {
  margin-top: -7px;
  margin-right: 10px;
}
